 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <app-header></app-header>
<div style="height:2rem"> oo </div>
<div class="container-fluid py-5" style="height: 100%; min-height: 60vh; background: linear-gradient(to left,#b92b27,#1565C0);"><router-outlet></router-outlet></div>



<footer>
  <div class="footer-top color-dark bg-dark">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 segment-one">
                  <h3 class="header3">About us</h3>
                  <p>this is a basic e-commerse website  that i have created during my free times to practice my web development skills and also to learn something along the way </p>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 segment-two">
               <h3 class="header3">Links</h3>
               <ul>
                   <li><a href="#">RANDOM LINK 1</a></li>
                   <li><a href="#">RANDOM LINK 2</a></li>
                   <li><a href="#">RANDOM LINK 3</a></li>
                   <li><a href="#">RANDOM LINK 4</a></li>
               </ul>
           </div>
           <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 segment-three">
               <h3 class="header3">Social media profiles</h3>
               <p>here are links to my social media profiles</p>
               <a href="https://www.facebook.com/allex.xseviour"><i class="fa fa-facebook"></i></a>
               <a href="https://github.com/masoomkonwar/"><i class="fa fa-github"></i></a>
               <a href="https://www.instagram.com/masoomkonwar/"><i class="fa fa-instagram"></i></a>
               <a href="https://www.linkedin.com/in/masoom-konwar-a14693143"><i class="fa fa-linkedin"></i></a>
           </div>
           <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 segment-four">
               <h3 class="header3">Subscribe </h3>
               <p>this form field doesn't work</p>
               <form action="">
                   <input type="email">
                   <input type="submit" value="subscribe">
               </form>
           </div>
          </div>
      </div>
  </div>
</footer>